*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:sans-serif;

}
.top-text{
    margin-left:30%;
    margin-right:30%;
    margin-top:1%;
    padding:15px;
    font-size:35px;
    color:white;
    background-color:black;
}

.btn{
    /* width:100%; */
    height:auto;
    margin-left:10%;
    margin-right:10%;
    margin-top:1%;
    display:flex;
    justify-content:center;
    border:2px solid red;
    /* background-color:pink; */
    overflow: hidden;
  

}
.btn>div{
font-size:30px;
color:black;
background-color:rgba(255, 255, 255, 0);
padding:20px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin:10px;

}
.btn>div:hover{
    color:white;
    background-color: teal;
    cursor:pointer;
}


#container{
    margin-left:10%;
    margin-right:10%;
    margin-top:1%;
}
.btn1{
    background-color:black;
    font-weight:bold;
    color:white;
    padding:10px;
    margin:10px;
    border-radius: 50%;
    cursor:pointer;
}